.ab2-result {
    padding: 15px;
}
.ab2-result .casino-result-round {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 10px;
    font-size: 13px;
    color: #929292;
}

.ab2-result .abj-common-card {
    background-color: #1a1e22;
    padding: 10px;
}

.ab2-result .abj-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}
.ab2-result .abj-title span {
    font-weight: 700;
    font-size: 18px;
    color: #929292;
}
.ab2-result .abj-title span:last-child {
    color: #929292;
}

.ab2-result .casino-result-cards-item {
    width: 35px;
    height: 48.46px;
    margin: 0 4px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ab2-result .casino-result-cards-item img {
    width: 100%;
}

.ab2-result .lastCards-result {
    display: flex;
    align-items: center;
}

.ab2-result .lastCards {
    height: auto;
    width: 130px;
}
.ab2-result .lastCards .hooper-list {
    padding: 0;
}
.ab2-result .hooper-navigation .hooper-next,
.ab2-result .hooper-navigation .hooper-prev {
    background-color: transparent;
    padding: 0;
    fill: #666;
}

.ab2-result .casino-result-desc {
    background-color: #3b4146;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    margin-top: 10px;
}

.ab2-result .casino-result-desc-item {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
}
.ab2-result .casino-result-desc-item div:first-child {
    color: #888;
    width: 50%;
    text-align: right;
    padding-right: 15px;
}
.ab2-result .casino-result-desc-item div:last-child {
    color: #ccc;
    font-weight: 700;
    width: 50%;
    text-align: left;
}

.ab2-result .winner-icon {
    width: 40px !important;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    z-index: 100;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.abj-common-card {
    display: flex;
    position: relative;
    padding: 8px;
    background: #24292e;
    border-radius: 4px;
}
.abj-common-card .casino-result-cards-item {
    margin: 0 2px;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.hooper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
}
.hooper * {
    box-sizing: border-box;
}
.hooper-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.hooper-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
}
.hooper-prev, .hooper-next {
    pointer-events: auto;
    cursor: pointer;
}
