*,
::after,
::before {
    box-sizing: border-box;
}

b {
    font-weight: bolder;
}

img {
    vertical-align: middle;
    border-style: none;
}

.d-block {
    display: block !important;
}

.ml-1 {
    margin-left: .25rem !important;
}

.text-center {
    text-align: center !important;
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    img {
        page-break-inside: avoid;
    }
}


.back {
    background-color: var(--back);
}

.back:hover {
    background-color: var(--back-hover);
}

.lay {
    background-color: var(--lay);
}

.lay:hover {
    background-color: var(--lay-hover);
}

.suspended {
    position: relative;
    pointer-events: none;
}

.suspended:before {
    content: "";
    background-image: url("https://wver.sprintstaticdata.com/v196/static/front/img/lock.svg");
    background-size: 17px 17px;
    filter: invert(1);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center;
    pointer-events: none;
}

.suspended:after {
    content: "";
    background-color: #373636d6;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    cursor: not-allowed;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.casino-table .casino-detail .back {
    background-color: #72bbef40;
    border: 2px solid var(--back);
    color: #d7d7d7;
}

.casino-table .casino-detail .back:hover {
    border: 1px solid var(--back);
}

.casino-table .casino-detail .lay {
    background-color: #f994ba40;
    border: 2px solid var(--lay);
    color: #d7d7d7;
}

.casino-table .casino-detail .lay:hover {
    border: 1px solid var(--lay);
}

.casino-detail {
    padding: 4px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.teen20casino-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teen20left,
.teen20right {
    width: 49%;
}

.cricket20 .score-box {
    position: relative;
    height: 64px;
    margin-top: 30px;
    padding: 0;
    background-image: url("https://wver.sprintstaticdata.com/v196/static/front/img/balls/score-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 45px;
}

.cricket20 .casino-remark {
    margin-top: 62px;
    margin-bottom: 45px;
}

.cricket20 .team-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--text-white);
}

.cricket20 .blbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    width: 170px;
    height: 40px;
    transform: translateX(-50%);
    bottom: -15px;
}

.cricket20.casino-table .casino-detail .blbox .back,
.cricket20.casino-table .casino-detail .blbox .back:hover {
    border: 0;
    background-color: var(--back);
    cursor: pointer;
    font-weight: bold;
    color: var(--text-black);
}

.casino-table.cricket20 .casino-detail .blbox .lay,
.casino-table.cricket20 .casino-detail .blbox .lay:hover {
    border: 0;
    background-color: var(--lay);
    cursor: pointer;
    font-weight: bold;
    color: var(--text-black);
}

.cricket20 .blbox div {
    width: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: var(--text-black);
}

.cricket20 .ball-icon {
    position: absolute;
    left: 50%;
    top: -25px;
    height: 50px;
    transform: translateX(-50%);
}

.cricket20 .ball-icon img {
    height: 60px;
}

.cricket20 .suspended::after {
    border-radius: 0;
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v196/static/front/css/responsive.css */
@media only screen and (min-width: 320px) and (max-width: 1279px) {
    .casino-detail {
        padding: 2px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .casino-detail {
        padding: 5px;
    }

    .cricket20 .ball-icon img {
        height: 50px;
    }

    .cricket20 .blbox {
        width: 150px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .cricket20 .score-box {
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .cricket20 .casino-remark {
        margin: 0;
    }

    .cricket20 .teen20left,
    .cricket20 .teen20right {
        width: 100%;
    }

    .cricket20 .ball-icon {
        top: -15px;
    }

    .cricket20 .ball-icon img {
        height: 40px;
    }

    .cricket20 .blbox {
        width: 95px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .cricket20 .ball-icon img {
        height: 50px;
    }

    .cricket20 .blbox {
        width: 140px;
    }
}

/* exposure */

.cricket20books {
    position: absolute;
    right: 5px;
    top: 60px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.cricket20books>div {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.cricket20books {
    position: absolute;
    right: 5px;
    top: 60px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.cricket20books>div {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v203/static/front/css/responsive.css */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .cricket20books {
        right: 5px;
        top: 5px;
    }

    .cricket20books>div {
        line-height: 14px;
    }
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v203/static/front/css/control.css */
.text-success {
    color: var(--book-green) !important;
    font-weight: 700;
}

.text-danger {
    color: var(--book-red) !important;
    font-weight: 700;
}