<div class="dropdown rules-language-container show">
        <div data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle"><img
                        src="https://wver.sprintstaticdata.com/v219/static/front/img/flag_english.png">
                English
                <i class="fas fa-angle-down ml-1"></i>
        </div>
        <div class="dropdown-menu rules-language show"
                style="position: absolute; transform: translate3d(0px, 20px, 0px); top: 0px; left: 0px; will-change: transform;"
                x-placement="bottom-start">
                <div><img src="https://wver.sprintstaticdata.com/v219/static/front/img/flag_english.png">
                        <span>English</span></div>
        </div>
</div>