<!-- MODAL ON USER CLICK (IN HEADER.JSX) -->
<div class="modal-dialog modal-big"><span tabindex="0"></span>
        <div id="__BVID__2449___BV_modal_content_" tabindex="-1" class="modal-content">
                <header id="__BVID__2449___BV_modal_header_" class="modal-header">
                        <h5 id="__BVID__2449___BV_modal_title_" class="modal-title">Market Analysis</h5><button
                                type="button" aria-label="Close" class="close">×</button>
                </header>
                <div id="__BVID__2449___BV_modal_body_" class="modal-body">
                        <div class="search-analysis">
                                <div class="row row5">
                                        <div class="col-md-3">
                                                <div class="block-title"><span>Game Detail</span></div>
                                                <div class="analysis-detail">
                                                        <div class="row row5"><label
                                                                        class="col-md-6"><b>Username</b></label>
                                                                <div class="col-md-6 text-right"><b
                                                                                title="Apapap">Ras44</b></div>
                                                        </div>
                                                        <div class="row row5"><label class="col-md-6">Account
                                                                        Type</label>
                                                                <div class="col-md-6 text-right">
                                                                        User
                                                                </div>
                                                        </div>
                                                        <div class="row row5"><label class="col-md-6">General</label>
                                                                <div class="col-md-6 text-right">1,378.6</div>
                                                        </div>
                                                        <div class="row row5"><label class="col-md-6">Exposure</label>
                                                                <div class="col-md-6 text-right">100</div>
                                                        </div>
                                                        <div class="row row5"><label class="col-md-6">Credit
                                                                        Reference</label>
                                                                <div class="col-md-6 text-right">5,000</div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="block-title"><span>User Lock</span></div>
                                                <div class="search-analysis-table mb-3">
                                                        <table class="table">
                                                                <thead>
                                                                        <tr>
                                                                                <th>Master Name</th>
                                                                                <th class="text-center">User Act</th>
                                                                                <th class="text-center">Bet Active</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <tr>
                                                                                <td>Arpit526</td>
                                                                                <td class="text-center"><i
                                                                                                class="fas fa-check-square"></i>
                                                                                </td>
                                                                                <td class="text-center"><i
                                                                                                class="fas fa-check-square"></i>
                                                                                </td>
                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                        <div class="col-md-5">
                                                <div class="block-title"><span>Game Lock</span></div>
                                                <div class="search-analysis-table mb-3">
                                                        <table class="table">
                                                                <thead>
                                                                        <tr>
                                                                                <th>S.No.</th>
                                                                                <th>Master Name</th>
                                                                                <th class="text-center">Bet Lock</th>
                                                                                <th>Event Name</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <tr>
                                                                                <td colspan="4" class="text-center">
                                                                                        No records found
                                                                                </td>
                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                </div>
                                <div class="market-analysis-container">
                                        <div class="market-analysis-container">
                                                <div class="market-analysis-title">
                                                        <div><a href="javascript:void(0)"> Indian Premier League</a>
                                                        </div>
                                                        <div>28/03/2026 07:00:00</div>
                                                </div>
                                                <div class="market-analysis-content">
                                                        <div class="row row5">
                                                                <div class="col-md-4">
                                                                        <div class="market-analysis-content-detail">
                                                                                <table class="table">
                                                                                        <thead>
                                                                                                <tr>
                                                                                                        <th colspan="2">
                                                                                                                IPL Cup
                                                                                                                Winner
                                                                                                                Bookmaker
                                                                                                        </th>
                                                                                                </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                                <tr>
                                                                                                        <td>Mumbai
                                                                                                                Indians
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                -100
                                                                                                        </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td>Royal
                                                                                                                Challengers
                                                                                                                Bengaluru
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                570</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td>Chennai
                                                                                                                Super
                                                                                                                Kings
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                -100
                                                                                                        </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td>Sunrisers
                                                                                                                Hyderabad
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                -100
                                                                                                        </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td>Delhi
                                                                                                                Capitals
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                -100
                                                                                                        </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td>Punjab Kings
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                -100
                                                                                                        </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td>Gujarat
                                                                                                                Titans
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                -100
                                                                                                        </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td>Lucknow
                                                                                                                Super
                                                                                                                Giants
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                -100
                                                                                                        </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td>Kolkata
                                                                                                                Knight
                                                                                                                Riders
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                -100
                                                                                                        </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td>Rajasthan
                                                                                                                Royals
                                                                                                        </td>
                                                                                                        <td
                                                                                                                class="text-right">
                                                                                                                -100
                                                                                                        </td>
                                                                                                </tr>
                                                                                        </tbody>
                                                                                </table>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div> <!----> <!---->
                                </div>
                        </div>
                </div><!---->
        </div><span tabindex="0"></span>
</div>