/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/bootstrap.min.css */
*,
::after,
::before {
    box-sizing: border-box;
}

h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-style: none;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

button:not(:disabled) {
    cursor: pointer;
}

h4 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.btn:disabled {
    opacity: .65;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}

.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.btn-link:focus {
    text-decoration: underline;
    box-shadow: none;
}

.btn-link:disabled {
    color: #6c757d;
    pointer-events: none;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}

.float-right {
    float: right !important;
}

.w-auto {
    width: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.text-right {
    text-align: right !important;
}

.text-dark {
    color: #343a40 !important;
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/control.css */
.form-control {
    background-color: #444;
    height: 36px;
    border-radius: 0;
    border: 1px solid #555;
    color: #ddd;
}

.form-control::placeholder {
    color: inherit;
    opacity: 1;
}

.form-control:focus,
.form-control:hover {
    box-shadow: 0 0 4px var(--text-body);
    background-color: var(--bg-body);
    border: 1px solid var(--text-body);
    color: var(--text-body);
    box-shadow: none;
}

.btn {
    box-shadow: none !important;
    height: auto;
    color: var(--text-white);
    border-radius: 0;
}

.btn-primary {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    box-shadow: none;
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
}

.btn-primary:disabled {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
    cursor: not-allowed;
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/style.css */

button,
input {
    font-family: revert;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.back {
    background-color: var(--back);
}

.back:hover {
    background-color: var(--back-hover);
}

.back-border {
    border-left: 5px solid var(--back);
}

.bet-slip-container {
    margin-bottom: 8px;
}

.bet-slip-title {
    height: 22px;
    color: var(--text-sidebar);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    display: inline-block;
    font-size: var(--font-header);
}

.bet-slip-box {
    border-radius: 0;
    margin-top: 4px;
    padding: 4px 0;
}

.bet-slip-box.back {
    color: #000;
}

.bet-slip-box.back:hover,
.bet-slip-box.back:focus,
.bet-slip-box.back:active {
    background-color: var(--back);
}

.bet-slip {
    border-bottom: 1px solid #666;
    padding: 0 4px;
    margin-bottom: 4px;
}

.bet-nation span {
    height: auto;
    font-size: var(--font-caption);
    letter-spacing: 0;
    line-height: 1;
    max-width: calc(100% - 20px);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bet-nation a {
    color: #000;
}

.bet-nation img {
    width: 10px;
    height: 10px;
    filter: invert(1);
}

.match-result {
    margin-top: 0;
    height: auto;
    font-size: var(--font-caption);
    line-height: 1;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bet-team {
    font-size: var(--font-caption);
    margin-top: 0;
    font-weight: var(--font-bold);
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.bet-team-name {
    max-width: calc(100% - 85px);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bet-input {
    margin-top: 3px;
    margin-left: 4px;
    width: 120px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 0;
    height: 36px;
    margin: 0;
    margin-left: 0;
}

.bet-input.back-border {
    border-left: 0;
}

.bet-input .form-control {
    color: #222;
    height: 36px;
    border: 0;
    background-color: #eee;
}

.bet-buttons {
    padding: 0 4px 0 4px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-center;
    flex-wrap: wrap;
}

.bet-buttons .btn-primary {
    min-width: calc(25% - 1.5px);
    margin-right: 2px;
    margin-bottom: 2px;
    height: 40px;
    border-radius: 0;
    background-color: var(--btn-primary);
    border-color: transparent;
    padding: 0;
}

.bet-buttons .btn:nth-child(4n) {
    margin-right: 0;
}

.bet-slip-container .place-bet-btn {
    padding: 2px 4px 0 4px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

.bet-slip-container .place-bet-btn .btn {
    height: auto;
    width: calc(50% - 2px);
}

.bet-slip-container .place-bet-btn .btn:first-child {
    margin-right: 2px;
}

.bet-slip-container .place-bet-btn .btn span {
    height: 22px;
    font-weight: var(--font-semi);
    text-align: center;
}

input.form-control:disabled {
    cursor: not-allowed;
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/responsive.css */
@media only screen and (min-width: 320px) and (max-width: 1279px) {
    .bet-slip-box {
        color: #000;
        margin-top: 0;
    }

    .bet-slip {
        width: 100%;
    }

    .form-control {
        height: 32px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .bet-slip {
        padding: 8px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1599px) {
    .bet-slip {
        padding: 8px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .form-control {
        font-size: var(--font-13);
    }

    .bet-slip-title {
        font-size: var(--font-caption);
    }

    .bet-nation span {
        font-size: var(--font-13);
    }

    .bet-team {
        font-size: var(--font-13);
    }

    .match-result {
        font-size: var(--font-13);
    }

    .bet-slip-container .place-bet-btn .btn {
        height: 36px;
    }

    .bet-buttons .btn {
        font-size: var(--font-13);
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .bet-input {
        margin: 0;
    }
}


/* ======================= */

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/bootstrap.min.css */
*,
::after,
::before {
    box-sizing: border-box;
}

header {
    display: block;
}

h5 {
    margin-top: 0;
    margin-bottom: .5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

[type=button],
button {
    -webkit-appearance: button;
}

[type=button]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

h5 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h5 {
    font-size: 1.25rem;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.btn:disabled {
    opacity: .65;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}

.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.btn-link:focus {
    text-decoration: underline;
    box-shadow: none;
}

.btn-link:disabled {
    color: #6c757d;
    pointer-events: none;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:hover {
    color: #000;
    text-decoration: none;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: .75;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}

.float-right {
    float: right !important;
}

.w-auto {
    width: auto !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-success {
    color: #28a745 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-dark {
    color: #343a40 !important;
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/control.css */
.text-success {
    color: var(--book-green) !important;
}

.text-danger {
    color: var(--book-red) !important;
}

.form-control {
    background-color: #444;
    height: 36px;
    border-radius: 0;
    border: 1px solid #555;
    color: #ddd;
}

.form-control::placeholder {
    color: inherit;
    opacity: 1;
}

.form-control:focus,
.form-control:hover {
    box-shadow: 0 0 4px var(--text-body);
    background-color: var(--bg-body);
    border: 1px solid var(--text-body);
    color: var(--text-body);
    box-shadow: none;
}

.btn {
    box-shadow: none !important;
    height: auto;
    color: var(--text-white);
    border-radius: 0;
}

.btn-primary {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    box-shadow: none;
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
}

.btn-primary:disabled {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
    cursor: not-allowed;
}

.modal-content {
    background-color: var(--bg-table);
    color: var(--text-table);
    border-radius: 0;
    border: 0;
    max-height: calc(100vh - 50px);
}

.modal-header {
    border: 0;
    border-radius: 0;
    background-color: var(--bg-table-header-new);
    color: var(--text-table-header-new);
    padding: 8px;
}

.modal-title {
    color: var(--text-fancy);
    font-size: var(--font-18);
}

.modal-header .close {
    color: var(--text-table-header-new);
    opacity: 1;
    text-shadow: none;
}

.modal-body {
    padding: 8px;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #666 #222;
}

.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-track {
    background: #666;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #222;
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/style.css */
* {
    outline: 0 !important;
}

button,
input {
    font-family: revert;
}

.row.row5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row5>[class*="col-"],
.row.row5>[class*="col"] {
    padding-left: 5px;
    padding-right: 5px;
}

.lay {
    background-color: var(--lay);
}

.lay:hover {
    background-color: var(--lay-hover);
}

.lay-border {
    border-left: 5px solid var(--lay);
}

.bet-slip-box {
    border-radius: 0;
    margin-top: 4px;
    padding: 4px 0;
}

.bet-slip-box.lay {
    color: #000;
}

.bet-slip-box.lay:hover,
.bet-slip-box.lay:focus,
.bet-slip-box.lay:active {
    background-color: var(--lay);
}

.bet-slip {
    border-bottom: 1px solid #666;
    padding: 0 4px;
    margin-bottom: 4px;
}

.bet-nation span {
    height: auto;
    font-size: var(--font-caption);
    letter-spacing: 0;
    line-height: 1;
    max-width: calc(100% - 20px);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.match-result {
    margin-top: 0;
    height: auto;
    font-size: var(--font-caption);
    line-height: 1;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bet-team {
    font-size: var(--font-caption);
    margin-top: 0;
    font-weight: var(--font-bold);
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.bet-team-name {
    max-width: calc(100% - 85px);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bet-input {
    margin-top: 3px;
    margin-left: 4px;
    width: 120px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 0;
    height: 36px;
    margin: 0;
    margin-left: 0;
}

.bet-input.lay-border {
    border-left: 0;
}

.bet-input .form-control {
    color: #222;
    height: 36px;
    border: 0;
    background-color: #eee;
}

.bet-buttons {
    padding: 0 4px 0 4px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-center;
    flex-wrap: wrap;
}

.bet-buttons .btn-primary {
    min-width: calc(25% - 1.5px);
    margin-right: 2px;
    margin-bottom: 2px;
    height: 40px;
    border-radius: 0;
    background-color: var(--btn-primary);
    border-color: transparent;
    padding: 0;
}

.bet-buttons .btn:nth-child(4n) {
    margin-right: 0;
}

input.form-control:disabled {
    cursor: not-allowed;
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/responsive.css */
@media only screen and (min-width: 320px) and (max-width: 1279px) {
    .modal-body {
        padding: 8px 6px;
    }

    .bet-slip-box {
        color: #000;
        margin-top: 0;
    }

    .bet-slip {
        width: 100%;
    }

    .modal-content {
        max-height: calc(100vh - 108px);
    }

    .modal-header {
        padding: 8px;
    }

    .modal-title {
        font-size: var(--font-caption);
    }

    .modal-body {
        max-height: calc(100vh - 40px);
    }

    .form-control {
        height: 32px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .bet-slip {
        padding: 8px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1599px) {
    .bet-slip {
        padding: 8px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .form-control {
        font-size: var(--font-13);
    }

    .bet-nation span {
        font-size: var(--font-13);
    }

    .bet-team {
        font-size: var(--font-13);
    }

    .match-result {
        font-size: var(--font-13);
    }

    .bet-buttons .btn {
        font-size: var(--font-13);
    }

    .modal-header {
        padding: 2px 8px;
    }

    .modal-title {
        font-size: var(--font-body);
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .modal-body {
        max-height: calc(100vh - 146px);
    }

    .place-modal .modal-body {
        padding: 0;
    }

    .bet-input {
        margin: 0;
    }
}

/* ON/OFF SWITCH */
.confirm-bets {
    padding: 0 8px 8px 8px;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #80bdff;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-control-input:disabled~.custom-control-label {
    color: #6c757d;
}

.custom-control-input:disabled~.custom-control-label::before {
    background-color: #e9ecef;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-switch {
    padding-left: 2.25rem;
}

.custom-switch .custom-control-label::before {
    left: -2.25rem;
    width: 1.75rem;
    pointer-events: all;
    border-radius: .5rem;
}

.custom-switch .custom-control-label::after {
    top: calc(.25rem + 2px);
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    background-color: #adb5bd;
    border-radius: .5rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .custom-switch .custom-control-label::after {
        transition: none;
    }
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(.75rem);
    transform: translateX(.75rem);
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(0, 123, 255, .5);
}

.custom-control-label::before {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .custom-control-label::before {
        transition: none;
    }
}

.custom-control-label {
    color: var(--text-body);
    line-height: unset;
}

.custom-control-label::before {
    background-color: #222;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #222;
    background-color: #222;
    background-image: fill;
}

.custom-control-input:disabled~.custom-control-label {
    color: inherit;
}


.custom-control-input:disabled~.custom-control-label {
    color: inherit;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .custom-control-label {
        line-height: unset;
    }
}

:root[data-theme="light"] .form-control {
    background-color: #ddd;
    border: 1px solid #aaa;
    color: #222;
}