/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/bootstrap.min.css */
*,
::after,
::before {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    border-style: none;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-3,
.col-4,
.col-5 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.mt-1 {
    margin-top: .25rem !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.ml-2 {
    margin-left: .5rem !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    img {
        page-break-inside: avoid;
    }
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/control.css */
.card {
    border: 0;
    border-radius: 0;
}

.card-header {
    background-color: var(--bg-table-header-new);
    color: var(--text-table-header-new);
    border: 0;
    border-radius: 0 !important;
    padding: 6px;
}

.card-body {
    background-color: var(--bg-table);
    padding: 6px;
    color: var(--text-table);
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/style.css */

.row.row5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row5>[class*="col-"],
.row.row5>[class*="col"] {
    padding-left: 5px;
    padding-right: 5px;
}

.casino-place-bet {
    width: 100%;
    border-radius: 0;
    margin-bottom: 4px;
}

.casino-place-bet-title {
    padding: 4px;
    text-transform: uppercase;
    font-weight: var(--font-bold);
}

.cricket-rule img {
    height: 40px;
}

.cricket-rule .row {
    align-items: center;
}

.cricket-rule {
    font-weight: bold;
}

/*! CSS Used from: https://wver.sprintstaticdata.com/v194/static/front/css/responsive.css */
@media only screen and (min-width: 320px) and (max-width: 1279px) {
    .casino-place-bet-title {
        padding: 16px 10px;
    }

    .casino-place-bet {
        width: 100%;
    }
}